.btn-section-2-mid {
    background-color: rgb(0, 140, 186, 0.9);
    color: white;
}

.btn-section-2-mid:hover {
    background-color: transparent;
    color: rgb(0, 140, 186, 0.9);
    border: 1px rgb(0, 140, 186, 0.9) solid;
}

.btn-section-2 {
    background-color: transparent;
    color: rgb(0, 140, 186, 0.9);
    border: 1px rgb(0, 140, 186, 0.9) solid;
}

.btn-section-2:hover {
    background-color: rgb(0, 140, 186, 0.9);
    color: white;
}



.card.landing:hover {
    width: 101%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}


@media only screen and (max-width: 768px) {
    .card.landing {
        width: 85%;
        margin: 0 auto;
    }

    .card.landing:hover {
        width: 86%;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
}