.btn-1 {
    background-color: #f35730;
    padding: 10px 60px 10px 60px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 2rem;
    border: 1px #f35730 solid;

}

.btn-1:hover {
    background-color: transparent;
    color: #f35730;
    transition: 0.2s;
    border: 1px #f35730 solid;
}

a.btn-1 {
    text-decoration: none;
}

.img-1 {
    width: 80%;
    height: auto;
    border-radius: 0;
    margin-left: 6rem;
}

.div-img-1 {
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .btn-1 {
        margin: 0;
        padding: 8px 40px 8px 40px;

    }

    .btn-1-div {
        display: flex;
        justify-content: center;
    }

    .section-1-p {
        font-size: 100%;
    }
}