<!-- <footer style="width:100vw;margin:0;padding:0;background-color:black" class="row">
    <div class="col-12">
        <div class="row justify-content-center">
            <p style="margin:0;padding:15px 0px;color:white;font-size:120%;font-family:Montserrat">Made with love by
                VinnovateIT &nbsp 💋</p>
        </div>
    </div>
</footer> -->

<script src="./type.js" type="text/javascript"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<script>
    $(window).scroll(function () {
        if ($(window).scrollTop() >= 0 && $(window).scrollTop() < 100) {
            $('.navbar').css('background', 'rbg(0,27,66,0.85)');
            $('.navbar').css('display', 'block');
        } else if ($(window).scrollTop() >= 100 && $(window).scrollTop() < 450) {
            $('.navbar').css('display', 'none');
        } else if ($(window).scrollTop() >= 405) {
            $('.navbar').css('background', '#001b42');
            $('.navbar').css('display', 'block');
        } else {
            $('.navbar').css('background', 'transparent');
            $('.navbar').css('display', 'block');
        }
    });
</script>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>



</html>