<%- include("partials/header"); %>

<style>
     main {
        margin-top: 7rem;
    }
    .title {
        /* font-family: "Montserrat"; */
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;

    }

    .title h1 {
        background-image: url('/images/fire-2.gif');
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
        font-size: 5rem;
    }

    .title h1 {
            font-weight: 900;
            font-size: 3rem;
        }
        p
        {
            line-height: 2.1rem;
            font-size: 1.3rem;
        }

</style>
<main>
    <div class="title">
        <h1 class="cursive">Financial Aid Document</h1>
    </div>
    <hr class="style-one">
    <div style="background-color:#f7f7f7;padding:30px;border-radius:5px;"class="container">
        <p style="text-align:Center;">
            Educational Background: Some college
            <br>
            Annual Income: 2000
            <br>
            Employment Status: Unemployed
            <br>
            How much can you afford to pay: 0
            <br>
            <br>
            <span style="font-weight: 900;"><bold>Why are you applying for Financial Aid?</bold></span><br>
        </p>
            
            <p style="text-align:left">
                I am currently enrolled in a Btech CSE programme in a tier 3 college. My father is an engineer and earns about 1.5 lakh rupees per annum majority of which is spent in meeting the basic household needs and education fees. My father is paying my college fees from loans and he cannot afford to pay on additional courses. I want to get a good job and clear all of my father's debts.
                My mother earns little money by practicing tailoring. In 2 years my sister will graduate from school and would go to college. I want to earn money by doing internships so that i can pay for my sister's college. 
                I borrow books from my friends to study.n this circumstance, it is very much difficult for me to gather such amount of money for the certificate. Financial Aid will help me take this course without any adverse impact on my monthly essential needs. So I’m badly in need of this financial aid. Receiving this Financial Aid will open for me a new horizon of the world of Coursera courses, which in turn will help me in future. I also plan to complete all assignments on or before time.
            </p>
            <p style="font-weight:900;text-align:center">
                How will taking this course help you achieve your career goals?<br>
            </p>
                <p style="text-align:left">
                    I want to take this course as I want to learn Cloud Computing.
                     I want to complete the course due to my curiosity and also that I can put a good CV to get applied to a job. 
                     This course will boost my job prospects after graduation from my institute. It will help perform better in carrying out various programs in a computer language and give me an edge over my competitors. 
                     A verified certificate will attach credibility to the certificate I receive from this course.
                      The field of software technology is becoming saturated, and industries are now placing a high level of importance on specialization.
                       This course is suggested by one of my seniors. I'm a junior in college and form next semester I have my placement pool.
                        Getting certification on this course not only help me to stand out among thousands but also help my resume get shortlisted and get high pay job as top companies are using cloud computing and it has been said that up to 2020 the world will be going to generate 50 times more data than what generated in 2011,
                         so many companies are looking for cloud computing engineers. There is a lot of potential and scope in this career opportunity.
                </p>
            <p style="font-weight:900;text-align:center">
                Would you consider using a low-interest loan to pay for your courses?<br>
                    No<br>
                    If you answered no, please help us understand why.<br>

            </p>
            <p style="text-align:left">
                Sir, the financial status of the family, is not too good to pay the loan amount. We already have a lot of dept in the bank, and my parents are paying it regularly. 
                It would make their life even harder to add a new loan over them. Sir, I don't want to put any pressure over them. 
                Sir, it would be a great help for me to get a good job and help my family if I'm able to get this course.
            </p>
        
    </div>
</main>
<%- include("partials/footer"); %>
