<%- include("partials/header"); %>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

    body {
        background-color: #f7f7f7;

    }

    .title {
        /* font-family: "Montserrat"; */
        text-align: center;
        color: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;

    }

    .title h1 {
        background-image: url('/images/fire-2.gif');
        background-size: cover;
        color: transparent;
        -moz-background-clip: text;
        -webkit-background-clip: text;
        font-weight: 900;
        font-size: 3rem;

    }

    .left-p {
        margin-left: 20px;
    }

    main {
        margin-top: 7rem;
    }

    .hack-1 {
        background-color: rgb(0, 27, 66, 0.15);
        width: 75vw;
        float: left;
        padding: 2rem;
        margin-bottom: 2rem;
        transition-duration: 0.3s;
    }

    .hack-2 {
        background-color: rgb(0, 27, 66, 0.15);
        width: 75vw;
        float: right;
        padding: 2rem;
        margin-bottom: 2rem;
        transition-duration: 0.3s;
    }

    /* 
    .hack-2:hover {
        float: none;
        margin: 0 auto;
        transition: 0.3s;
    } */

    /*
    .hack-1:hover {
        float: none;
    } */

    .hack-1:hover,
    .hack-2:hover {
        box-shadow: inset 0px 0px 10px rgb(0, 27, 66);
    }

    .hack-cont {
        width: 90%;
        margin: 0 auto;
    }

    .row {
        margin: 0;
        padding: 0;
    }

    .image {
        width: 85%;
        height: 85%;
    }

    .img-cont {
        display: flex;
        justify-content: center;
    }

    .hack-1 h1,
    .hack-2 h1 {
        margin-bottom: 2.5rem;
        font-family: "Montserrat";
        font-weight: 600;
        font-family: 'Architects Daughter', cursive;
        font-size: 250%;
    }

    p {
        font-family: 'Grandstander', cursive;
    }

    .answer {
        font-weight: 700;
    }

    .hack-1 p {
        text-align: left;
    }

    p {
        line-height: 1.3rem;
    }

    .hack-2 p,
    .hack-2 h1 {
        text-align: left;

    }


    @media only screen and (max-width:768px) {

        .left-p {
            margin-left: 10px;
        }

        .img-cont {
            display: flex;
            justify-content: center;
        }

        .hack-1 {
            width: 90vw;
            float: none;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .hack-2 {
            width: 90vw;
            float: none;
            margin: 0 auto;
            margin-bottom: 30px;
        }

        .hack-cont {
            width: 100%;
            margin: 0 auto;
        }

        .title h1 {
            font-weight: 700;
            font-size: 2rem;
        }

        .hack-1 h1,
        .hack-2 h1 {
            display: flex;
            justify-content: center;
            font-size: 200%;
        }

        .hack-1 p,
        .hack-2 p {
            line-height: 1rem;
        }

    }

    /* .vinhack {
        background-image: url('images/logo.png');
        background-position: center;
        opacity: 1;
        background-repeat: no-repeat;
        width: 1000px;
    }

    .logo {
        position: relative;
        z-index: -999;
    } */
    .logo {
        display: block;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
</style>
<main>
    <div class="title">
        <h1 class="cursive">Best Hackathons in Town</h1>
    </div>
    <hr class="style-one">
    <div class="hack-cont">
        <div class=" hack-1">
            <div style="margin:0;padding:0;" class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="mb-3 img-cont">
                        <img src="/images/VITHACK.png" class="image img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>VIT Hack</h1>
                    <p>Duration: <span class="answer">48 Hours</span></p>
                    <p>On Duty : <span class="answer">Yes</span></p>
                    <p>Food : <span class="answer">Pizza and other snacks </span></p>
                    <p>Judges: <span class="answer">Yes</span></p>
                    <p>Last Year venue : <span class="answer">Anna Auditorium</span></p>
                </div>
            </div>
            <div class="p mt-3 row justify-content-center">
                <div class="col-11">
                    <p class="answer">Description</p>
                    <p class="left-p">VIT Hack aims to provide an arena for participants to contribute their ideas as
                        solutions to real-world problems. Being a global event, it aims to gain from the unification of
                        various cultures leading to various solutions. Problem statements will be driven towards social
                        causes to help channelize the participants’ thoughts into a revolutionary solution. VIT Hack
                        focuses on bringing leading industry experts to help ignite innovation. All that we wish is you
                        bring your best ideas, your confidence and your willingness to have a great time.
                    </p>
                    <p class="answer">Review by student:-</p>
                </div>
            </div>
        </div>


        <div class="hack-2">
            <div class="image-container">
                <img class="logo" src="/images/logo.png">
            </div>
            <div style="margin:0;padding:0;" class="row">

                <div class="col-md-6 col-xs-12">
                    <div class="mb-3 img-cont">
                        <img src="/images/VINHACK.png" class="image img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>VinHack </h1>
                    <p>Duration : <span class="answer">24 Hours</span></p>
                    <p>Conducted by: <span class="answer">VinnovateIT</span></p>
                    <p>On Duty : <span class="answer">YES</span></p>
                    <p>Food : <span class="answer">Pizza and other snacks</span> </p>
                    <p>Judges:<span class="answer"> Yes</span></p>
                    <p>Last Year venue : <span class="answer"> Anna Auditorium</span></p>
                </div>
            </div>
            <div class="p mt-3 row justify-content-center">
                <div class="col-11">
                    <p class="answer">Description</p>
                    <p class="left-p">VINHACK- Offers you a chance to express your innovative ideas and rediscover
                        yourself!
                        Your next big step towards becoming an awesome programmer is here. A chance to land an
                        internship in a company along with cash prizes and goodies. Come over for this 24 hour
                        hackathon
                        and have an enthralling experience, just don't forget to bring along your creativity!
                        Everyone
                        is welcomed regardless of their coding background.</p>

                    <p class="answer">Review by student:-</p>
                </div>
            </div>
        </div>



        <div class=" hack-1">
            <div style="margin:0;padding:0;" class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="mb-3 img-cont">
                        <img src="/images/DevSoc.png" class="image img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>DevSoc</h1>
                    <p>Duration: <span class="answer">48 Hours</span></p>
                    <p>Conducted by: <span class="answer">CodeChef-VIT</span></p>
                    <p>On Duty : <span class="answer">Yes</span></p>
                    <p>Food : <span class="answer">Pizza and other snacks </span></p>
                    <p>Judges: <span class="answer">Yes</span></p>
                    <p>Last Year venue : <span class="answer">Anna Auditorium</span></p>
                </div>
            </div>
            <div class="p mt-3 row justify-content-center">
                <div class="col-11">
                    <p class="answer">Description</p>
                    <p class="left-p">DEVSOC is CodeChef-VIT’s annual flagship event hoping to empower young minds
                        by
                        bringing enthusiastic technocrats and thinkers under one roof. This year, the second
                        iteration
                        of the hackathon is being held with a goal to create a sprint like event, where participants
                        create, hack, innovate to solve problems while adhering to the spirit of creativity and
                        teamwork.</p>
                    <p class="answer">Review by student:-</p>
                </div>
            </div>
        </div>
        <div class=" hack-2">
            <div style="margin:0;padding:0;" class="row">

                <div class="col-md-6 col-xs-12">
                    <div class="mb-3 img-cont">
                        <img src="/images/DEVSPACE.png" class="image img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>DevSpace</h1>
                    <p>Duration : <span class="answer">36 Hours</span></p>
                    <p>Conducted by: <span class="answer">CSI-VIT</span></p>
                    <p>On Duty : <span class="answer"></span>🤷‍♂️</p>
                    <p>Food : <span class="answer">Pizza and other snacks </span></p>
                    <p>Judges: <span class="answer">Yes</span></p>
                    <p>Last Year venue : <span class="answer">Anna Auditorium</span></p>
                </div>
            </div>
            <div class="p mt-3 row justify-content-center">
                <div class="col-11">
                    <p class="answer">Description</p>
                    <p class="left-p">DevSpace is CSI-VIT's signature 36-hour hack, participants proposed and
                        implemented solutions using emerging technologies such as Machine Learning, Artificial
                        Intelligence, Augmented and Virtual Reality, Blockchain and Fintech or by innovating in
                        various
                        fields such as Defense and Surveillance, Space and Technology, Education Tech and
                        Entertainment
                        Tech. Each team was given the creative freedom to implement their innovative ideas through
                        an
                        application or a prototype.
                        The Hackathon is usually free.</p>
                    <p class="answer">Review by student:-</p>
                </div>
            </div>
        </div>

        <div class=" hack-1">
            <div style="margin:0;padding:0;" class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="mb-3 img-cont">
                        <img src="/images/Women_Techies.png" class="image img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>Women Techies</h1>
                    <p>Duration: <span class="answer">24 Hours</span></p>
                    <p>Conducted by: <span class="answer">DSC VIT</span></p>
                    <p>On Duty : <span class="answer">Yes</span></p>
                    <p>Food : <span class="answer">Pizza and other snacks </span></p>
                    <p>Judges: <span class="answer">Yes</span></p>
                    <p>Last Year venue : <span class="answer">Technology Tower </span></p>
                </div>
            </div>
            <div class="p mt-3 row justify-content-center">
                <div class="col-11">
                    <p class="answer">Description</p>
                    <p class="left-p">This 24-hour hackathon aims to provide talented and independent women with the
                        platform and resources to help them grow in their desired field and contribute to society
                        with
                        impactful and beneficial solutions.

                        There is a minimum requirement of 50% female participation in each team, to ensure and
                        promote
                        women’s participation in tech and tech-related events.

                        WomenTechies is an opportunity for the budding developers to showcase their potential and
                        skills
                        under the mentorship of experts and come up with imperceptible ideas and ground-breaking
                        solutions to problems that could potentially solve the woes of thousands of people.</p>
                    <p class="answer">Review by student:-</p>
                </div>
            </div>
        </div>


        <div class=" hack-2">
            <div style="margin:0;padding:0;" class="row">

                <div class="col-md-6 col-xs-12">
                    <div class="mb-3 img-cont">
                        <img src="/images/C2C_4.png" class="image img-responsive">
                    </div>
                </div>
                <div class="col-md-6 col-xs-12">
                    <h1>Code 2 Create</h1>
                    <p>Duration : <span class="answer">36 Hours</span></p>
                    <p>Conducted by: <span class="answer">ACM VIT</span></p>
                    <p>On Duty : <span class="answer">Yes</span></p>
                    <p>Food : <span class="answer">Pizza and other snacks</span> </p>
                    <p>Judges: <span class="answer">Yes</span></p>
                    <p>Last Year venue : <span class="answer">Anna Auditorium</span></p>
                </div>
            </div>
            <div class="p mt-3 row justify-content-center">
                <div class="col-11">
                    <p class="answer">Description</p>
                    <p class="left-p">A thrilling tech sprint awaited by numerous innovators, Code2Create witnesses
                        a
                        plethora of skill sets. Code2Create is all about designing, building and creating; a place
                        where
                        graphic designers, software developers, app developers, and web developers collaborate
                        intensively on projects.

                        Code2Create'19 saw more than 500 participants. The judges were renowned experts in their
                        respective fields. Participants from across the country indulge in 36 hours of intense
                        brainstorming, designing, creating and testing, along with some engaging and very enjoyable
                        side
                        quests.

                        Code2Create is ACM-VIT’s flagship event and one of the grandest annual events hosted in VIT.
                    </p>
                    <p class="answer">Review by student:-</p>
                </div>
            </div>
        </div>
    </div>
</main>
<%- include("partials/footer"); %>