<%- include("partials/header"); %>

<style>
    .h-color {
        color: #f35730;
    }
</style>
<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-color: rgba(0, 140, 186, 0.2);
            background-blend-mode: lighten;background-image: url('images/img-3.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">The Vellore Kitchen</h3>
                    <p class="lead">The oldest and the favourite of most VITIANS. Go easy as it can empty your purse
                        pretty.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-color: rgba(0, 140, 186, 0.2);
            background-blend-mode: lighten;background-image: url('images/img-1.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Barbeque Nation</h3>
                    <p class="lead">The most exotic cusine and dining experience gaurenteed.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-color: rgba(0, 140, 186, 0.2);
            background-blend-mode: lighten;background-image: url('images/img-4.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Tara Maa</h3background-color: rgba(255,255,255,0.6); background-blend-mode:
                            lighten;>
                        <p class="lead">The best budget restraunt for all meals. Highly recommended by the students</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>

<!-- Section 1 -->
<section class="section-1 ">
    <div class=" container">
        <div class="row justify-content-center">
            <h3 class="cursive h-color">Bored? Hungry? Don't Worry, we got you covered
            </h3>
        </div>
        <hr style=" width:50%;" class=" style-one">
        <div class="row d-flex  justify-content-center align-items-center">
            <div class="col-md-6  col-xs-12">
                <p style="line-height:1.8rem;max-width:480px;font-family: 'Lato', 'Arial', sans-serif;color: #555;"
                    class="section-1-p lead">
                    VIT is surrounded by places to hang out. But which one is the best? Which one would you
                    like?
                    It is really confusing to choose perfect places for each different occasions.
                    Sometimes you need to take a break from the hectic life of college and go for a bite or
                    to
                    gaming
                    zone to free our minds from the tension. Proceed and have a look </p>
                <div class="btn-1-div row  mt-4 form-group">
                    <a href="#" class="btn-1">Go</a>
                </div>
            </div>
            <div class=" div-img-1 col-md-6 col-xs-12">
                <div class="row justify-content-center">
                    <img style="margin:0; padding:0;" src=" images/480x360.png" class="img-1 img-responsive" alt="demo">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section-1 Ends -->




<section class=" section-2">
    <div class="row">
        <div class="col-12">
            <div class="div-flicker-orange">
                <h1 class="flicker-orange">Trending</h1>
            </div>
            <hr style="padding-bottom:0.10px;width:25%;" class=" style-one">
        </div>
    </div>

    <div id="gallery" class="pt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4 ">
                    <div class="landing card">
                        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                            alt="" class="card-img-top">
                        <div style="padding:0;" class="card-body">
                            <div style="margin:0; padding:1rem 0 0 0rem ;" class="card-header">
                                <h5 style="text-align:center;font-family: 'Lato', 'Arial', sans-serif"
                                    class="card-title">Turf XL</h5>
                            </div>
                            <ul style="margin:0;" class=" list-group list-group-flush">
                                <li class="list-group-item">Oepn Hours: 11:00 AM - 8:00 PM</li>
                                <li class="list-group-item">Rs.800 for 2 people</li>
                                <li class="mb-4 list-group-item">ETA-5 mins from VIT Vellore</li>
                            </ul>
                            <div style="margin:0;padding:0 0 1rem 0;" class="row justify-content-center">
                                <a href="" class="btn btn-section-2 ">More Details <i
                                        class="fas fa-info-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="landing card">
                        <img src="https://images.unsplash.com/photo-1516214104703-d870798883c5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60"
                            alt="" class="card-img-top">
                        <div style="padding:0;" class="card-body">
                            <div style="margin:0; padding:1rem 0 0 0rem ;" class="card-header">
                                <h5 style="text-align:center;font-family: 'Lato', 'Arial', sans-serif"
                                    class="card-title">Gamer's Paradise</h5>
                            </div>
                            <ul style="margin:0;" class=" list-group list-group-flush">
                                <li class="list-group-item">Oepn Hours: 11:00 AM - 8:00 PM</li>
                                <li class="list-group-item">Rs.600 for 2 people</li>
                                <li class="mb-4 list-group-item">ETA-10 mins from VIT Vellore</li>
                            </ul>
                            <div style="margin:0;padding:0 0 1rem 0;" class=" row justify-content-center">
                                <a href="" class="btn btn-section-2-mid">More Details <i
                                        class="fas fa-info-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-4">
                    <div class="landing card">
                        <img src="https://images.unsplash.com/photo-1477862096227-3a1bb3b08330?ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
                            alt="" class="card-img-top">
                        <div style="padding:0;" class="card-body">
                            <div style="margin:0; padding:1rem 0 0 0rem ;" class="card-header">
                                <h5 style="text-align:center;font-family: 'Lato', 'Arial', sans-serif"
                                    class="card-title">Tara Maa</h5>
                            </div>
                            <ul style="margin:0;" class=" list-group list-group-flush">
                                <li class="list-group-item">Oepn Hours: 11:00 AM - 8:00 PM</li>
                                <li class="list-group-item">Rs.500 for 2 people</li>
                                <li class="mb-4 list-group-item">ETA-7 mins from VIT Vellore</li>
                            </ul>
                            <div style="margin:0;padding:0 0 1rem 0;" class="row justify-content-center">
                                <a href="" class="btn   btn-section-2">More Details <i
                                        class="fas fa-info-circle"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section style="background: rgb(247,247,247);
    background: radial-gradient(circle, rgba(247,247,247,1) 0%, rgba(255,255,255,1) 100%, rgba(247,247,247,1) 100%);"
    class=" section-3 section-meals">
    <div class="row justify-content-center">
        <h1 class="cursive h-color pt-5">Looking for Something inside the campus?</h1>
    </div>
    <hr class="style-one">
    <ul class="meals-showcase clearfix">
        <li>
            <figure class="meal-photo">
                <img src="images/4.jpg" alt="Korean bibimbap with egg and vegetables">
                <div class="overlay">

                    <div class="text">
                        <p>Namma Chai</p>
                        <a href="#" class="btn btn-3">More Details</a>
                    </div>
                </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="images/3.jpg" alt="Simple italian pizza with cherry tomatoes">
                <div class="overlay">

                    <div class="text">
                        <p>SJT Cafeteria</p><a href="#" class="btn btn-3">More Details</a>
                    </div>
                </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="images/2.jpg" alt="Chicken breast steak with vegetables">
                <div class="overlay-2">

                    <div class="text">
                        <p>Fc Cafeteria</p>
                        <a href="#" class="btn btn-3">More Details</a>
                    </div>
                </div>
                </div>
            </figure>
        </li>
        <li>
            <figure class="meal-photo">
                <img src="images/1.jpg" alt="Autumn pumpkin soup">
                <div class="overlay-2">

                    <div class="text">
                        <p>Dc Cafeteria</p><a href="#" class="btn btn-3">More Details</a>
                    </div>

                </div>
                </div>
            </figure>
        </li>
    </ul>
</section>
<div class="pt-5 pb-5">
    <div class="row justify-content-center">
        <h1 class="cursive h-color pt-5">Take a weekend off</h1>
    </div>
    <hr class="style-one">
    <div class="container">
        <div class="row d-flex  justify-content-center align-items-between">
            <div class=" div-img-1 col-md-6 col-xs-12">
                <div class="row justify-content-center">
                    <img style="margin:0; padding:0;" src=" images/hill.png" class="img-1 img-responsive" alt="demo">
                </div>
            </div>
            <div class="col-md-6  col-xs-12">
                <p style="line-height:1.8rem;max-width:480px;font-family: 'Lato', 'Arial', sans-serif;color: #555;"
                    class="section-1-p lead">
                    Exam got over? Want to chill with friends who have become family?
                    Checkout all the places to visit when you have a free weekend!!!
                    Go Ahead</p>
                <div class="btn-1-div row  mt-4 form-group">
                    <a href="/hills" class="btn-1">Checkout <i class="ml-1 fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="pt-5 pb-5">
    <div class="row justify-content-center">
        <h1 class="cursive h-color pt-5">Rentals and Taxi</h1>
    </div>
    <hr class="style-one">
    <div style="background-color: rgb(0, 140, 186, 0.9);" class="row">
        his
    </div>
</div>

<div class="pt-5 pb-5">
    <div class="row justify-content-center">
        <h1 class="cursive h-color pt-5">Gymnasiums</h1>
    </div>
    <hr class="style-one">
</div>
<%- include("partials/footer"); %>