<%- include("../partials/header"); %>

<style>
    h1 {
        font-size: 2rem;
    }
</style>

<div style="margin-top:15rem;" class="container">
    <form action="/kadabra/restaurant/new/1" method="POST">
        <h1>Add a place</h1>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Name</label>
                    <input type="String" placeholder="Enter Name of Place" name="name" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Type</label>
                    <select id="type" name="type" class="browser-default custom-select" required>
                        <option hidden disabled Selected value="">Select Type</option>
                        <option value="restaurant">Restaurant</option>
                        <option value="gaming">Gaming</option>
                        <option value="hill">Hills</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Rating</label>
                    <input type="Number" placeholder="Enter rating out of 5" name="rating" class="form-control"
                        required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Nearby</label>
                    <input type="String" placeholder="Enter nearby landmark" name="nearby" class="form-control"
                        required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Cusine</label>
                    <input type="String" placeholder="Enter types of food available" name="cusine" class="form-control"
                        required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Payment Method</label>
                    <input type="String" placeholder="Enter payment methods available" name="payment_method"
                        class="form-control" required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Cost For 2</label>
                    <input type="String" placeholder="Enter Cost for 2 people" name="cost_for_two" class="form-control"
                        required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Must Try</label>
                    <input type="String" placeholder="Enter special must try dishes" name="must_try"
                        class="form-control" required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Google Map source</label>
                    <input type="String" placeholder="Enter Google Map source" name="gmap_src" class="form-control"
                        required>
                </div>
            </div>
            <div class="form-group col-md-6 col-xs-12">
                <label>Inside/Outside campus</label>
                <select id="io_location" name="io_location" class="browser-default custom-select" required>
                    <option hidden disabled Selected value="">Select Inside/Outside Campus</option>
                    <option value="inside">Inside Campus</option>
                    <option value="outside">Outside Campus</option>
                </select>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Identity</label>
                    <input type="String" placeholder="Enter restraunt name in small without spaces" name="identity"
                        class="form-control" required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Open Timings</label>
                    <input type="String" placeholder="Enter timings seperated by a '-' (24 hr clock)"
                        name="open_timings" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Features</label>
                    <input type="String" placeholder="Enter 3  Features seperated by - (no space bet. features)"
                        name="features" class="form-control" required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Author Name</label>
                    <input type="String" placeholder="Enter Author Name" name="comment_author" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Comment Date</label>
                    <input type="date" placeholder="Enter Comment Date" name="comment_date" class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Comment Content</label>
                    <input type="String" placeholder="Enter comment content" name="comment_content"
                        class="form-control">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Place</button>
    </form>

    <form style="margin-top:15rem;" action="/kadabra/restaurant/new/2" method="POST">
        <h1>Add Comment</h1>
        <div class="row">

            <div class="form-group col-md-6 col-xs-12">
                <label>Select place</label>
                <select id="place" name="place" class="browser-default custom-select" required>
                    <option hidden Selected value="">Select Place</option>
                    <% allplaces.forEach(function(place){ %>
                    <option value="<%= place._id %>"><%= place.name %></option>
                    <% }); %>
                </select>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Author Name</label>
                    <input type="String" placeholder="Enter Author Name" name="comment_author" class="form-control"
                        required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Comment Date</label>
                    <input type="date" placeholder="Enter Comment Date" name="comment_date" class="form-control"
                        required>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                <div class="form-group">
                    <label>Comment Content</label>
                    <input type="String" placeholder="Enter comment content" name="comment_content" class="form-control"
                        required>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Comment</button>
    </form>
</div>

<%- include("../partials/footer"); %>