.btn-section-2-mid {
    background-color: #5cb85c;
    color: white;
}

.btn-section-2-mid:hover {
    background-color: transparent;
    color: #5cb85c;
    border: 1px #5cb85c solid;
}

.card:hover {
    width: 101%;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 768px) {
    .card {
        width: 85%;
        margin: 0 auto;
    }

    .card:hover {
        width: 86%;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    }
}