.btn-1 {
    background-color: #E67E22;
    padding: 10px 60px 10px 60px;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 2rem;
}

.btn-1:hover {
    background-color: #f78825;
    color: #f6f6f6;
    transition: 0.5s;
}

a.btn-1 {
    text-decoration: none;
}

.img-1 {
    width: 80%;
    height: auto;
    border-radius: 0;
    margin-left: 6rem;
}

.div-img-1 {
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .btn-1 {
        margin-left: 2rem;
    }
}