.section-1 {
    background-image: url(images/back-2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#gallery {
    background-image: url(images/back-3.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

div.carouselcaption>p.lead {
    text-shadow: 2px 2px 5px black;
}

.display-4 {
    text-shadow: 2px 2px 5px black;
}


.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}