@import url("Sections/FullSections.css");
@import url("Restraunt/comments.css");
@import url("Restraunt/image-expand.css");
@import url("Restraunt/random.css");
@import url("Miscellaneous/default.css");
@import url("Miscellaneous/fonts.css");




@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");