<%- include("../partials/header"); %>

<style>
    h1 {
        font-size: 2rem;
    }
</style>
<h1 style="margin-top:5rem;text-align:center;">Choose PLace</h1>

<div style="margin-top:15rem;" class="container">
    <div class="row">
        <% allplaces.forEach(function(place){ %>
        <form action="/kadabra/edit/<%= place._id%>" method="GET">
            <div class="col-md-12 col-xs-12">
                <button style="width:100%; margin:10px;" type="submit"
                    class="btn btn-success"><%= place.name %></button>
            </div>
        </form>
        <% }) %>
    </div>
</div>


<%- include("../partials/footer"); %>